body {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  &:visited {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}
.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 1180px;
  max-width: 1180px;
  min-width: 400px;
  min-height: 100vh;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #ccc;
  &__logo {
    display: flex;
    height: 100%;
    min-width: 140px;
    align-items: center;
    justify-content: center;
  }
  &__auth {
    display: flex;
    height: 100%;
    width: 160px;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
  }
  &__nav {
    display: flex;
    flex: 1 1 auto;
    .nav {
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
      gap: 25px;
    }
  }
}

.nav {
  display: flex;
  flex: 1 1 auto;
}

.auth__menu {
  min-width: 120px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 20px 0 40px 0;
}

.footer {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.logo__title {
  font-weight: 600;
}

.categories {
  &__list {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
  }

  &__item {
    flex: 1 1 270px;
    max-width: 270px;
    height: 120px;
    margin: 15px 12.5px;
    background-color: #ccc;
    p {
      margin: 10px 10px;
      text-transform: capitalize;
      color: white;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
