body {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  &:active {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}
.root_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}
.main {
  border-top: 1px solid #ccc;
}
.header {
  display: flex;
  margin: 0 auto;
  flex: 1 1 auto;
  max-width: 1440px;
  justify-content: space-between;
  min-height: 60px;
  align-items: center;
  &__logo {
    display: flex;
    height: 100%;
    min-width: 140px;
    align-items: center;
    justify-content: center;
  }
  &__auth {
    display: flex;
    height: 100%;
    width: 160px;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
  }
  &__nav {
    display: flex;
    flex: 1 1 auto;
    .nav {
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
      gap: 25px;
    }
  }
  @media screen and (max-width: 450px) {
    flex-direction: column;
    gap: 20px;
  }
}

.nav {
  display: flex;
  flex: 1 1 auto;
}

.auth__menu {
  min-width: 120px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 100%;
  margin: 20px auto 40px auto;
}

.footer {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.logo__title {
  font-weight: 600;
}

.categories {
  &__list {
    display: inline-flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 1 0 270px;
    min-width: 270px;
    height: 150px;
    margin: 6px;
    border: 1px solid #ccc;
    border-radius: 12px;
    @media screen and (max-width: 885px) {
      height: 250px;
    }
    @media screen and (max-width: 590px) {
      height: 300px;
    }
    p {
      margin: 10px 10px;
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.error {
  position: absolute;
  bottom: -18px;
  left: 15px;
  color: red;
  font-size: 12px;
  font-weight: 500;
}
